.formWrapper{
    display: flex;
    justify-content: center;
}
.formFieldWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
}
.formFieldWrapper > input{
    display: flex;
    justify-content: center;
    width: 100%;
}
.formSubmitWrapper{
    display: flex;
    margin: 4px;
}
.formSubmitWrapper > input{
    width: 100%;
}
.formSubmitWrapper > submit{
    display: flex;
}
